[features]
resolution = true
skip-lint = false

[programs.devnet]
ecosol = "EcoSol1111111111111111111111111111111111111"

[programs.mainnet]
ecosol = "EcoSol1111111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
